* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .bod {
    font-family: Circular, verdana;
   color: black;
    background-color: white;
  }
  
  .banner1 {
    border-style: hidden border;
    border-radius: 40px;
    box-shadow: 10px 5px 15px grey;
    position: fixed;
    width: 380px;
    height: 70px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 80px;
    padding-top: 12px;
    font-size: 16px;
  }
  .banner2 {
    border-style: hidden border;
    position: fixed;
    width: 340px;
    height: 50px;
    margin: 40px;
    padding-top: 5px;
    padding-left: 55px;
    font-size: 15px;
    color: grey;
  }
  .banner3 {
    border-style: dotted;
    position: relative;
    margin: 0;
    top: 200px;
  }