* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .bod {
    font-family: Circular, verdana;
   color: black;
    background-color: white;
  }
  
  .banner1 {
    border-style: hidden border;
    border-radius: 40px;
    box-shadow: 10px 5px 15px silver;
    position: fixed;
    width: 380px;
    height: 70px;
    margin-top: 2px;
    margin-left: 15px;
    padding-left: 75px;
    padding-top: 12px;
    font-size: 17px;
  }
  .banner2 {
    border-style: hidden border;
    position: fixed;
    width: 340px;
    height: 50px;
    margin-top: 20px;
    margin-left: 80px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: silver;
  }
  .banner3 {
    border-bottom-style: hidden border;
    box-shadow: 10px 5px 10px silver;
    position: fixed;
    width: 425px;
    height: 95px;
    margin-top: 70px;
    padding-top: 55px;
    padding-left: 10px;
    font-size: 14px;
    color: grey;
  }